* { margin: 0; padding: 0; box-sizing: border-box; }

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	background: white;
	color: #333;
}

.cover { padding-top: 10vh; text-align: center; }
.cover h1 { font-size: 6rem; color: #666; }
.cover p { font-size: 1.5rem; line-height: 3rem; }
