* { margin: 0; padding: 0; box-sizing: border-box; }

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
	background: white;
	color: #333;
}
.content { padding: 0 20px; min-width: 800px; max-width: 1200px; 	margin: 0 auto; }
h1 a { color: inherit; text-decoration: none; }

/* Cover page */
.cover { padding-top: 10vh; text-align: center; display: block; }
.cover h1 { font-size: 6rem; color: #666; }
.cover p { font-size: 1.5rem; line-height: 3rem; }

/* Package page */
body.package {
	padding-top: 3rem; /* leverage fixed header */
}
header {
	background: #fff985; color: #1c1c1c; outline: 1px solid #ababab; text-shadow: 2px 2px 4px #fff;
	position: fixed; width: 100%; top:0;
}

header > .content { display: flex; align-items: baseline; }
header > .content > * { padding: 0 5px; }
header > .content > *:first-child { padding-left: 10px; }
header > .content > *:last-child { padding-right: 10px; }

header h1 { font-size: 2rem; line-height: 3rem; }

.header-version { font-size: 1.5rem; color: #777; }
.header-repo-link { flex-grow: 2; text-align: right; }
.header-repo-link img { height: 25px; opacity: 0.8; vertical-align: -3px; }

main { display: flex; align-items: stretch; }

main > * { padding: 1.5rem 10px; }

main > aside { width: 300px; flex-shrink: 0; background: #ddd; }

footer { text-align: center; margin-top: 1.5rem; }

/* Markdown */

/* Fix auto scroll position */
.markdown h2[id]::before, .markdown h4[id]::before, .markdown h5[id]::before, .markdown h6[id]::before {
  content:"";
  display:block;
  height:3rem; /* fixed header height*/
  margin:-3rem 0 0; /* negative fixed header height */
}
